img {
    border-radius:15px;
}
body{
    text-align:center;
    background-color:lightblue;
}
h1,h2,h3,h4,h5,h6,p,b {
    color:white;
    font-family:Arial;
}
button {
    color:white;
    background-color:lightblue;
    border:2px solid lightskyblue;
    border-radius:2px;
}
button:hover {
    color:blue;
    background-color:lightblue;
    border:2px solid lightskyblue;
    border-radius:2px;
}
.normal-div {
    background-color:lightblue;
    border:2px solid lightskyblue;
    box-shadow:5px 5px 38px lightskyblue;
}